@font-face {
	font-family: 'Franklin';
	src: url('../fonts/franklin_gothic_demi_cond.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/franklin_gothic_demi_cond.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/franklin_gothic_demi_cond.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/franklin_gothic_demi_cond.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/franklin_gothic_demi_cond.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/franklin_gothic_demi_cond.svg#franklin_gothic_demi_cond') format('svg'); /* Chrome < 4, Legacy iOS */
}